* {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #F1F1F1;
}

input {
  border: hidden;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}

#logo{
  display: flex;
  align-items: center;
  width: 20%;
}

span{
  background-color: transparent;
}

.heading {
  text-align: center;
  color: #36476D;
}

.nav__container{
  display: flex;
  background-color: #AFD7FA;
  border-radius: 15px;
  justify-content: space-between;
}

.nav{
  display: flex;
  background-color: #AFD7FA;
}

.nav__text {
  margin-right: auto;
  background-color: #AFD7FA;
  color: #fff;
}

.button{
  border-radius: 15px;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#add{
  background-color: #56C854;
  vertical-align: baseline;
}

#delete{
  background-color: #FF7676;
}

.source {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 25px;
}

.source > *{
  background-color: white;
}

.nav__text {
  border-radius: 0px;
}