* {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #F1F1F1;
}

input {
  border: hidden;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}

#logo{
  display: flex;
  align-items: center;
  width: 20%;
}

.heading {
  text-align: center;
  color: #36476D;
  font-size: 2.5rem;
  padding-bottom: 15px;
  font-weight: 700;
}

.nav__container{
  display: flex;
  background-color: #AFD7FA;
  border-radius: 25px;
  justify-content: space-between;
  margin: 15px;
  border: solid;
  border-color: #36476D;
  border-width: 1px;
}

.nav{
  display: flex;
  background-color: #AFD7FA;
}

.nav__text {
  margin-right: auto;
  background-color: #AFD7FA;
  color: #fff;
  font-weight: 500;
}

.button{
  border-radius: 15px;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
}

#add{
  background-color: #56C854;
}

#delete{
  background-color: #FF7676;
}

.source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  margin: 15px;
  font-weight: 500;
  font-size: 1.5rem;
  color: #36476D;
}

.source > *{
  background-color: white;
}

.source_number{
  font-weight: 700;
}

.source_email{
  font-weight: 300;
}

