@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap);

* {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #F1F1F1;
}

input {
  border: hidden;
  background-color: #eee;
  width: 300px;
}

.no-outline:focus {
  outline: none;
}

#logo{
  display: flex;
  align-items: center;
  width: 20%;
}

span{
  background-color: transparent;
}

.heading {
  text-align: center;
  color: #36476D;
  font-size: 2.5rem;
  padding-bottom: 15px;
  font-weight: 700;
}

.nav__container{
  display: flex;
  background-color: #AFD7FA;
  border-radius: 25px;
  justify-content: space-between;
  margin: 15px;
}

.nav{
  display: flex;
  background-color: #AFD7FA;
}

.nav__text {
  margin-right: auto;
  background-color: #AFD7FA;
  color: #fff;
  font-weight: 500;
}

.button{
  border-radius: 15px;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  height: 70%;
  margin-top: 15px;
}

.button:hover{
  cursor: pointer;
}

#add{
  background-color: #56C854;
  vertical-align: baseline;
}

#delete{
  background-color: #FF7676;
}

.source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  margin: 15px;
  font-weight: 500;
  font-size: 1.5rem;
  color: #36476D;
}

.source_name {
  font-weight: 500;
  background-color: white;
  flex: 1;
  margin: auto 1rem;
  line-height: 1rem;
}

.source_number{
  font-weight: 700;
  background-color: white;
  margin: auto 1rem;
  line-height: 1rem;
}

.source_email{
  font-weight: 300;
  background-color: white;
  flex: 2;
  margin: auto 1rem;
  line-height: 1rem;
}

